.jumbotron {
    position: relative;
}

.jumbotron-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #252525e7, #353434db 50%, #969494da, #dddada9a 75%);
}

.intro-text {
    padding: 40px;
    width: 40%;
}

.feature {
    padding-top: 40px;
    background-color: rgb(65, 65, 65);
    color: white;
}