
body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

main {
  height: 100vh !important;
}

.registration-page {
  min-height: 100% !important;
}

.MuiFormLabel-asterisk, .MuiInputLabel-asterisk, .css-wgai2y-MuiFormLabel-asterisk {
  color: red !important;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
